@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

* {
    box-sizing: border-box;
    user-select: none;
}

html {
    font-size: 62.5%;
    font-family: Jetbrains Mono;
    color: white;
}

body {
    background: #005AA7;
    background: -webkit-linear-gradient(to right, #FFFDE4, #005AA7);
    background: linear-gradient(to right, #FFFDE4, #005AA7);
}

.content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    height: 70vh;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.1);
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 3.2rem;
    text-transform: uppercase;
    text-align: center;
}

table {
    line-height: 3.5vh;
    font-size: 1.6rem;
    border-collapse: collapse;
    color: black;;
}

thead {
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

thead:hover, tr:hover {
    text-align: center;
    transition: 0.5s;
    box-shadow: 0 0 40px white;
}

th {
    border: 2px solid black;
    font-weight: 400;
    padding: 10px;
}

footer {
    width: 100%;
    text-align: center;
    border: 2px solid black;
    font-size: 1.5rem;
    position: absolute;
    bottom: 0;
    background-color: #c4c4c4;
    border-radius: 5px;
}